@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.container{
    margin: 0%;
    padding: 0%;
    max-width: none;
    background-image: url(img/Backx.png);
    background-size: cover;
}

.row{
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navigation{
    padding-top: 0%;
    padding-bottom:0%;
    margin-bottom: 5%;
}

.BLOCK{
 padding-top: 3%;
 padding-bottom: 10%;
}
.col-12{
    margin: 0%;
    padding: 0%;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.logo{
    width: 15vw;
}

.nav-link{
    font-size: 1.5vw;
    margin-right: 1vw;
    color: rgb(3, 33, 53) !important;
}

.cover-intro{
    color: rgb(7, 23, 37);
    padding: 2%;
}

.cover-image{
    display: flex;
}

.cover-image img{
    width: 100%;
    border-radius: 3%; 
    align-self: center; 
}

.intro{
    color: rgba(10, 94, 168, 0.596);
    font-family: sans-serif;
    font-size: 1.4vw;
    text-align: justify;
    padding: 0% 6%;

}

.heading{
    font-size: 3.5vw;
    text-align: center;
    font-family: sans-serif;
    color: rgb(7, 23, 37);
    padding-bottom:5% ;
}

.heading span{
    color: rgb(5, 32, 63);
}

.buttons{
    padding: 0% 6%;
}

.sign-btn{
    padding: 1vw 4vw;
    border-radius: 0.3vw;
    background-color: rgb(238, 153, 17);
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    text-align: center;
    box-shadow: rgb(54, 54, 54) 2px 2px 15px;
    margin: 10px;
}

.login{
    background-color:rgba(7, 88, 218, 0.911) ;
}

.blog-card{
    padding: 0% 5%;
}

.card{
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    box-shadow: rgba(59, 58, 58, 0.698) 5px 5px 15px;
    border-radius: 5%;
}

.Title-row{
    margin: 3%;
}

.title{
    text-align: center;
    font-family: sans-serif;
    color: rgb(54, 28, 2);
    margin-bottom: 0%;
}


.about-text{
    font-size: 1.8vw;
    color: rgba(2, 18, 36, 0.788);
    text-align: justify;
}

.company-card{
    background-color: rgba(240, 233, 226, 0.534);
    box-shadow: 5px 5px 15px rgb(58, 57, 57);
    border-radius: 10px;
    padding: 3%;
    margin: 4%;
}

.company{
    display: flex;
}

.company img{
    width: 100%;
    align-self: center;
    border-radius: 10px;
}

.review{
    font-size: 1.1vw;
    font-family: sans-serif;
    color: rgb(4, 29, 61);
    text-align: justify;
}

.customer-name{
   float: right;
   color:rgb(9, 81, 148)
}

.col-7 h5{
    color: rgb(3, 35, 77);
    font-weight: 600;
}


/* Footer */
.Footer{
    background-color: rgb(4, 37, 59);
    padding: 2%;
}

.footer-card{
    background-color:rgba(255, 255, 255, 0.356);
}

.footer-message{
    color: aliceblue;
    font-size: 1.2vw;
}
i{
    color: aliceblue;
    font-size: 2vw;
    margin-right: 12%;
}

.Links h4{
    text-align: center;
    color:white;
}

.Links ul{
    list-style: none;
    color:white;
    float: left;
    font-size: 1.2vw;
    margin-top: 5%;
}

.Links li{
    margin-bottom: 10%;
}

.newsletter{
    color:aliceblue
}

.newsletter-text{
    margin-top: 5%;
}